In [1]:
#Task 4: Pandas
#Create a dataframe with employee data with columns as emp_id,emp_name,salary,department,skilss set,assignedornot,client_name.
#1. for each department which employee has the highest salary.
#2. who are all the employees in genai domain are already assigned to client.
#3. create another column with the summarized skill set.
#4. who are the employees having python skill and what are their salaries.
#5. manager report(count,count of client assigned , for each customer how many employees)
import pandas as pd

#dataframe
data = {
    "emp_id": [101, 102, 103, 104, 105, 106, 107, 108],
    "emp_name": ["Rahul", "Ravi", "Aravind", "Ajay", "Shruti", "Swathi", "Vijay", "Sravan"],
    "salary": [90000, 120000, 95000, 130000, 85000, 110000, 105000, 125000],
    "department": ["AI", "AI", "Data", "Data", "GenAI", "GenAI", "GenAI", "AI"],
    "skill_set": [
        ["Python", "ML"],
        ["Python", "DL", "GenAI"],
        ["SQL", "Python"],
        ["Python", "Spark"],
        ["GenAI", "Python"],
        ["GenAI", "Python", "NLP"],
        ["GenAI", "Python", "ML"],
        ["Python", "MLOps"]
    ],
    "assignedornot": ["Yes", "No", "Yes", "Yes", "Yes", "No", "Yes", "No"],
    "client_name": ["ClientA", None, "ClientB", "ClientA", "ClientC", None, "ClientC", None]
}

df = pd.DataFrame(data)

print("\n=== Employee Data ===")
print(df)

#employee with highest salary
highest_salary_by_dept = df.loc[df.groupby("department")["salary"].idxmax()]

print("\n=== Highest Salary by Department ===")
print(highest_salary_by_dept[["department", "emp_name", "salary"]])

#GenAI employees
genai_assigned = df[
    (df["department"] == "GenAI") &
    (df["assignedornot"] == "Yes")
]

print("\n=== GenAI Employees Assigned to Clients ===")
print(genai_assigned[["emp_name", "client_name", "salary"]])

#skill set
df["summarized_skill_set"] = df["skill_set"].apply(lambda x: ", ".join(x))

print("\n=== Summarized Skill Set ===")
print(df[["emp_name", "summarized_skill_set"]])

#python employees
python_employees = df[df["skill_set"].apply(lambda skills: "Python" in skills)]

print("\n=== Employees with Python Skill ===")
print(python_employees[["emp_name", "salary"]])

#Manager report
print("\n=== Manager Report ===")

total_employees = df.shape[0]
print(f"Total Employees: {total_employees}")

assigned_count = df[df["assignedornot"] == "Yes"].shape[0]
print(f"Employees Assigned to Clients: {assigned_count}")

print("\nEmployees per Client:")

employees_per_client = (
    df[df["assignedornot"] == "Yes"]
    .groupby("client_name")
    .size()
    .reset_index(name="employee_count")
)
print(employees_per_client)

=== Employee Data ===
   emp_id emp_name  salary department             skill_set assignedornot  \
0     101    Rahul   90000         AI          [Python, ML]           Yes
1     102     Ravi  120000         AI   [Python, DL, GenAI]            No
2     103  Aravind   95000       Data         [SQL, Python]           Yes
3     104     Ajay  130000       Data       [Python, Spark]           Yes
4     105   Shruti   85000      GenAI       [GenAI, Python]           Yes
5     106   Swathi  110000      GenAI  [GenAI, Python, NLP]            No
6     107    Vijay  105000      GenAI   [GenAI, Python, ML]           Yes
7     108   Sravan  125000         AI       [Python, MLOps]            No

  client_name
0     ClientA
1        None
2     ClientB
3     ClientA
4     ClientC
5        None
6     ClientC
7        None

=== Highest Salary by Department ===
  department emp_name  salary
7         AI   Sravan  125000
3       Data     Ajay  130000
5      GenAI   Swathi  110000

=== GenAI Employees Assigned to Clients ===
  emp_name client_name  salary
4   Shruti     ClientC   85000
6    Vijay     ClientC  105000

=== Summarized Skill Set ===
  emp_name summarized_skill_set
0    Rahul           Python, ML
1     Ravi    Python, DL, GenAI
2  Aravind          SQL, Python
3     Ajay        Python, Spark
4   Shruti        GenAI, Python
5   Swathi   GenAI, Python, NLP
6    Vijay    GenAI, Python, ML
7   Sravan        Python, MLOps

=== Employees with Python Skill ===
  emp_name  salary
0    Rahul   90000
1     Ravi  120000
2  Aravind   95000
3     Ajay  130000
4   Shruti   85000
5   Swathi  110000
6    Vijay  105000
7   Sravan  125000

=== Manager Report ===
Total Employees: 8
Employees Assigned to Clients: 5

Employees per Client:
  client_name  employee_count
0     ClientA               2
1     ClientB               1
2     ClientC               2